<!DOCTYPE html>
<html lang="en">
<head><meta charset="utf-8"><title><%= @post.title %></title></head>
<body>
<h1><%= @post.title %></h1>
<p>By <%= @post.author %></p>
<% unless @post.published? %><em>Draft</em><% end %>
<div><%= @post.body %></div>
</body>
</html>
