use autumn_web::island;

use {{crate_name}}::CounterProps;

pub struct IslandCx<T>(std::marker::PhantomData<T>);

#[island]
pub fn counter(_cx: IslandCx<CounterProps>) {}

fn main() {
    let _ = counter as fn(IslandCx<CounterProps>);
}
